<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Criando um Pacote Django</title>
		<meta name="description" content="Passo a Passo para criar um Pacote Django">
		<meta name="author" content="Élysson MR <www.elyssonmr.com>">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/night.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h1>Criando um Pacote Django</h1>
					<h3>Passo a Passo para criar o seu pacote Django</h3>
					<p>
                        <small>VI encontro PythonOnRio</small><br>
						<small><a href="http://elyssonmr.com">Élysson Mendes Rezende</a></small><br>
                        <small>Desenvolvedor pleno na <a href="http://www.brbid.com">BrBid.com</a></small>
					</p>
				</section>

				<section>
					<h2>O que é um um Pacote Django?</h2>
					<ul>
						<li class="fragment fade-in">Código Reusável para resolver problemas comuns</li>
						<li class="fragment fade-in">Essencialmente um pacote Django é um Pacote Python</li>
						<li class="fragment fade-in">Pode ser um pacotezinho ou um App Django Completo</li>
						<li class="fragment fade-in">Um pacote deve contar o arquivo "__init__.py" (Dunder Init)</li>
						<li class="fragment fade-in">No caso de uma aplicação Django, deve-se seguir toda a convenção do Django, tais como, <i>models</i>, <i>tests</i>, <i>urls</i> and <i>views</i></li>
						<li class="fragment fade-in">Um pacote deve depender somente de si mesmo</li>
					</ul>
				</section>

				<section>
					<h2>Criando o Aplicativo</h2>
					<ol>
						<li class="fragment fade-in">Criar um App Django com um nome da sua escolha. Examplo: notificacoes</li>
						<li class="fragment fade-in">Criar a pasta "templatetags" dentro do nosso novo app</li>
						<li class="fragment fade-in">Criar o arquivo de <i>template tag</i> "notificacao.py" e criar o "dunder init"</li>
						<li class="fragment fade-in">Deixaremos em branco por enquanto. Vamos adicionar o conteúdo depois</li>
					</ol>
				</section>

				<section>
					<h2>Configurando o Pacote</h2>
					<ul>
						<li class="fragment fade-in">Criar um arquivo "setup.py" dentro do diretório raiz</li>
						<li class="fragment fade-in">Esse arquivo contem informações sobre o pacote. Por exemplo: <i>name</i>, <i>version</i>, <i>packages</i>, <i>descripton</i> e etc</li>
						<li class="fragment fade-in">
                            Vamos escrever mais um pouco de código?
                            <pre><code class="python"># coding: utf-8
import os
from setuptools import setup
current_dir = os.path.abspath(os.path.dirname(__file__))
readme = open(os.path.join(current_dir, 'README.md')).read()
setup(
    name='pythononrio-templatetags',
    version='1.0',
    packages=['notificacoes'],
    description='Templates Tags desenvolvidos no Python On Rio',
    long_description=readme,
    author='Élysson MR',
    author_email='elyssonmr@gmail.com',
    url='https://github.com/elyssonmr/django_pkg/',
    license='MIT',
    install_requires=[
        'Django>=1.8',
    ]
)
    </code></pre>
                        </li>
					</ul>
				</section>

				<section>
					<h2>Configurando o Pacote</h2>
					<ul>
						<li class="fragment fade-in">Finalmente é necessário um arquivo <i>manifest</i> com os arquivos que gostariamos de distribuir</li>
						<li class="fragment fade-in">
                            Criar um arquivo chamado <i>MANIFEST.in</i> dentro da pasta raiz do projeto:
                            <pre><code>
include *.md
recursive-include notificacoes *.py *.html
        					</code></pre>
                        </li>
					</ul>
				</section>

				<section>
					<h2>Instalando o Pacote</h2>
					<ul>
						<li class="fragment fade-in">Agora o pacote já está pronto para ser instalado</li>
						<li class="fragment fade-in">Para isso basta rodar o comando "python setup.py develop"</li>
						<li class="fragment fade-in">
                            Se tive tiver sido instalado corretamente, a seguinte mensagem será exibida:
                            <pre><code>$ python setup.py develop
...
Installed /path/to/project/django_pkg
Processing dependencies for django-templatetags==1.0
Searching for Django==1.8.5
Best match: Django 1.8.5
Adding Django 1.8.5 to easy-install.pth file
Installing django-admin script to /home/user/.virtualenvs/venv/bin

Using /home/user/.virtualenvs/venv/lib/python2.7/site-packages
Finished processing dependencies for django-templatetags==1.0
                            </code></pre>
                        </li>
					</ul>
				</section>

				<section>
					<h2>E agora?</h2>
					<ul>
						<li class="fragment fade-in">Agora o pacote esta pronto para ser distribuído</li>
						<li class="fragment fade-in">Antes precisamos adicionar o código! Certo? ;D</li>
						<li class="fragment fade-in">Depois poderemos distribu-lo para todo mundo!!!</li>
					</ul>
				</section>

				<section>
					<h2>Codificando algumas template tags</h2>
					<ul>
						<li>
                            O primeiro passo é criar o arquivo <i>notification/templatetags/notify.py</i> com o código:
                            <pre><code class="python"># coding: utf-8

from django import template

register = template.Library()


@register.inclusion_tag('notificacoes/notification.html')
def render_notification():
    return {}


@register.filter
def format_hello(value, nome):
    return value % (nome)</code></pre>
                        </li>
					</ul>
				</section>

				<section>
					<h2>Codificando algumas template tags</h2>
					<ul>
						<li>
                            Vamos criar o arquivo HTML <i>notificacoes/templates/notificacoes/notificacao.html</i> para ser usado junto com a nossa template tag:
                            <pre><code class="html"><p>Oi eu sou uma notificação!</p></code></pre>
                        </li>
					</ul>
				</section>

				<section>
					<h2>Testanto as template tags</h2>
					<ul>
						<li class="fragment fade-in">Não há necessidade de criar uma aplicação django completa para testar o código, é necessário criar somente um settings para ser usado nos testes</li>
						<li class="fragment fade-in">Por exemplo: criando o arquivo <i>test_settings.py</i> dentro da raiz do nosso projeto para que possamos executar os testes usando: "$ python django-admin.py test --settings=test_settings"</li>
						<li class="fragment fade-in">
                            É necessário adicionar algumas linhas no "test_settings.py":
                            <pre><code class="python">INSTALLED_APPS = (
    'notificacoes',
)
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': ':memory:',
    }
}
SECRET_KEY = "ultra_secret_key_for_testing"</code></pre>
                        </li>
					</ul>
				</section>

				<section>
					<h2>Testando as template tags</h2>
					<ul>
						<li>Para testar as template tags precisamos de algo assim no módulo <i>notificacoes/test.py</i>:</li>
                    </ul>
                    <pre><code class="python"># coding: utf-8
from django.test import TestCase
from django.template import Context
from django.template import Template

class TemplateTagTest(TestCase):
    def setUp(self):
        self.template = Template('{% load notify %} {% render_notification %}')

    def test_templatetag_inclusion(self):
        rendered = self.template.render(Context())
        self.assertIn(u'sou uma notificação', rendered)

class FilterTest(TestCase):
    def setUp(self):
		self.template = Template(u'{% load notify %}' +
			u' {{ "Oi %s, Como você esta?"|format_hello:"Élysson MR" }}')

    def test_filter(self):
        rendered = self.template.render(Context())
        self.assertIn(u'Élysson MR', rendered)</code></pre>
				</section>
				<section>
					<h2>Distribuíndo</h2>
					<ul>
						<li class="fragment fade-in">Agora que tudo esta pronto, podemos distribuir nosso pacote para todo mundo</li>
						<li class="fragment fade-in">Mas antes teremos que regitrar uma nova <a href="https://pypi.python.org/pypi?%3Aaction=register_form">Conta PyPi</a></li>
						<li class="fragment fade-in">Após o registro, devemos abrir o terminal e rodar "python setup.py register"</li>
						<li class="fragment fade-in">Seleciona a opção "1", entrar com o usuário e a senha e o pacote será registrado</li>
						<li class="fragment fade-in">Para finalizar temos que enviar todos os arquivos para o servidor do PyPi rodando "python setup.py sdist upload"</li>
					</ul>
				</section>

				<section>
					<h2>Agora Sim!!</h2>
					<ul>
						<li class="fragment fade-in">Todo mundo poderá usar o nosso pacote usando o comando "pip install pythononrio-templatetags"</li>
						<li class="fragment fade-in">Para usa-lo, basta adicionar o app na configuração INSTALLED_APPS do settings do Django</li>
						<li class="fragment fade-in">Para enviar uma atualização basta somente utilizar o comando de upload outra vez, lembre-se de alterar a versão do seu "setup.py"</li>
					</ul>
				</section>

				<section>
					<h2>Conclusão</h2>
					<ul>
						<li>O processo para criar um pacote é bem simples</li>
						<li>Diversas vezes nós codificamos para resolver os mesmos problemas, porque não escrever um pacote para isso?</li>
						<li>Usando pacotes podemos compartilhar com outros desenvolvedores diversas soluções para problemas comuns</li>
					</ul>
				</section>

				<section>
					<h2>Referências</h2>
					<ul>
						<li><a href="http://hirokiky.org/tech/create_django_library.html#create-your-application">How to create your first Django Package</a></li>
						<li><a href="https://docs.djangoproject.com/en/1.8/intro/reusable-apps/">How to write reusable apps</a></li>
						<li><a href="https://docs.python.org/2/tutorial/modules.html#packages">Python Modules</a></li>
						<li><a href="https://pypi.python.org/pypi">The Python Package Index</a></li>
					</ul>
				</section>

				<section>
					<h2>Muito Obrigado!!</h2>
					<a href="http://elyssonmr.com">Élysson Mendes Rezende</a>
				</section>
			</div>
		</div>
		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>
		<script>
			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,
				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});
		</script>
	</body>
</html>
